{% extends 'kingadmin/index.html' %}
{% load kingadmin_tags %}

{% block  right-content-container %}
    <h2 class="page-header">app</h2>

    <div>
        <div>
            <form>
                {% if admin_class.list_filter %}
                    {% for filter_column in admin_class.list_filter %}
                        {% build_filter_ele filter_column admin_class %}
                    {% endfor %}
                    <input type="submit" value="过滤">
                {% endif %}
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                {% if admin_class.list_display %}
                    {% for column in admin_class.list_display %}
                        <th>{{ column }}</th>
                    {% endfor %}
                {% else %}
                    <th>{% get_model_name admin_class %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for obj in querysets %}
                <tr>{% build_table_row obj admin_class %}</tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if querysets.has_previous %}
                    <a href="?_page=1">&laquo; first</a>
                    <a href="?_page={{ querysets.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ querysets.number }} of {{ querysets.paginator.num_pages }}.
                </span>

                {% if querysets.has_next %}
                    <a href="?_page={{ querysets.next_page_number }}">next</a>
                    <a href="?_page={{ querysets.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}
